.jumbotron {

    color: #fff !important;
    background-color: transparent !important;
    margin-left: 0em;
    margin-top:0em;
    margin-right: 0em;
    margin-bottom: 0em!important;
}

.bg-1{
    background: url(../img/bg.png) repeat-x top #d8d8d8;
}

.banner{
    overflow: auto;

}
.ban1{
    margin: auto;
    float: left;

}
.mitte{
    margin-left:6em;
    margin-right: 6em;

}

#logo{
    margin: 0em!important;
}

.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}


.navbar {

    border-radius: 0;
}

.navbar.container-fluid {

    margin: 0 1em;
    padding: 0 3em;
}

.navbar-collapse {

    padding: 0;
}

.navbar-default {
    background: url("../img/menu.png") repeat-x top;
}

.navbar-default .navbar-brand {
    color: #FFF!important;
}

.navbar-default .navbar-brand:hover{
    color: darkgrey!important;
}


.navbar-default .navbar-nav > li > a{
    color: #FFF!important;
}

.navbar-default .navbar-nav > li > a:hover{
    color: darkgrey!important;
}
#music{background: url("../img/bg-li-1.png") repeat-x top;}
#sport{background: url("../img/bg-li-2.png") repeat-x top;}
#arts{background: url("../img/bg-li-3.png") repeat-x top;}
#shop{background: url("../img/bg-li-4.png") repeat-x top;}

.container-fluid {

    padding: 0 3em;
}

. {

    padding: 0 3em;
}

nav {

    align-content: center;
}

.pagination > li > a {

    display: inline-block;
    padding: 6px 8px;
    min-width: 50px;
    text-align: center;

}

.marginXL {

    margin: 0 0.5em;
}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
